<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create</title>
	<style type="text/css">
		#wapper{
			margin: 20px;
			padding: 20px;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border: 1px solid black;
		}
	</style>
</head>
	<body>
		<a href="/items">Home</a>
		<a href="/logout">Logout</a>
		<h2>Create a new wish list item</h2>
		<form action="/add_item" method="POST">
			{% csrf_token %}
			<label>	Item/Product : <input type="text" name="product"></label>
			<input type="submit" name="submit">
		</form>
	</body>
</html>